.title-section {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    font-family: 'Montserrat';
    color: #221F20;
    margin-bottom: 24px;
}

.products-section-title{
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    font-family: 'Montserrat';
    color: #221F20;
    margin-bottom: 24px;
}